
:root{
    --Green: #54E6AF;
    --Blue-950: #121725;
    --Blue-900: #2C344B;
    --Blue-600: #5A668A;
    --Blue-300: #C2CBE5;
    --White: #FFFFFF;
    --Red: #FB3E3E;   
}
@font-face {
    font-family: 'Chivo';
    src: url(assets/font/Chivo/Chivo-VariableFont_wght.ttf);
}
main{
    height: 100vh;
}
.custom-img{
    height: 100vh;
    opacity: 20%;
    object-fit: contain;
}
.blue{
    background-color: var(--Blue-950);
}
.blue-light{
    background-color: var(--Blue-900);
}
.blue-light:active{
    color: var(--White);
}
.custom-green{
    color: var(--Green);
}
.custom-white{
    color: var(--Blue-300)
}
.custom-light{
    color: var(--Blue-300)
}
.custom-round{
    border-radius: 28px;
}
.custom-bg-green {
    background-color: var(--Green);
}
.border-danger{
    border: 2px solid var(--Red);
}
@media (min-width:680px) {
    .custom-img{
        opacity: 100%;
        height: 70vh;
        width: 70vw;
        object-fit: cover;
    }
    .custom-card{
        background-color: var(--Blue-950);
        width: 592px;
    }
}
