
:root{
    --Green: oklch(83.255% 0.14791 164.502);
    --Blue-950: oklch(20.686% 0.02908 268.737);
    --Blue-900: oklch(32.435% 0.04261 269.221);
    --Blue-600: oklch(51.474% 0.05923 270.014);
    --Blue-300: oklch(84.339% 0.03768 270.423);
    --White: #FFFFFF;
    --Red: oklch(65.109% 0.2247 26.078);   
}
@font-face {
    font-family: 'Chivo';
    src: url(assets/font/Chivo/Chivo-VariableFont_wght.ttf);
}

main{
    height: 100vh;
}
.custom-img{
    opacity: 20%;
    object-fit: cover;
}
.bg-blue950{
    background-color: var(--Blue-950);
}
.bg-blue900{
    background-color: var(--Blue-900);
}
.bg-green{
    background-color: var(--Green);
}
.clr-green{
    color: var(--Green);
}
.clr-white{
    color: var(--White);
}
.clr-blue-300{
    color: var(--Blue-300);
}
.clr-blue-950{
    color: var(--Blue-950);
}
.text-1{
    font-size: 2.9rem;
    line-height: 120%;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 300;
}
.text-2{
    font-size: 1.125rem;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: lighter;
}


.blue-light{
    background-color: var(--Blue-900);
}
.blue-light:active{
    color: var(--White);
}
.custom-green{
    color: var(--Green);
}
.custom-white{
    color: var(--Blue-300)
}
.custom-light{
    color: var(--Blue-300)
}
.custom-round{
    border-radius: 28px;
}
.custom-bg-green {
    background-color: var(--Green);
}
.border-danger{
    border: 2px solid var(--Red);
}
#error{
   display: none; 
}
@media (min-width:680px) {
    .custom-img{
        opacity: 100%;
    }

    .m-80{
        margin: 80px 80px ;
    }
}
